# Section 3

## Methods

In [1]:
a = "cisco switch"

In [2]:
#returns first index of i
a.index("i")

1

In [3]:
#counts the number of i
a.count("i")

2

In [4]:
#finds match within string
a.find("sco")

2

In [5]:
#does not find match so returns -1
a.find("csl")

-1

In [6]:
#lower cases string, no actual changes applied bc strings are immutaable
a.lower()

'cisco switch'

In [7]:
#upper case the string
a.upper()

'CISCO SWITCH'

In [8]:
#true/false
a.startswith("C")

False

In [10]:
#strip eliminates all white spaces
b = '   Cisco Switch.  '
b.strip()

'Cisco Switch.'

In [11]:
#strip removes characters
c = "$$$$cisco"
c.strip("$")

'cisco'

In [12]:
#replace replaces character with another
b.replace(" ", "p")

'pppCiscopSwitch.pp'

In [13]:
#split splits string into substring and result is a list
#split by delimiter
d = "the, cow, jumped, over, the, moon"
d.split(",")

['the', ' cow', ' jumped', ' over', ' the', ' moon']

In [14]:
#join will join characters
"_".join(a)

'c_i_s_c_o_ _s_w_i_t_c_h'

## Operators and Formatting

In [15]:
#concatenation
x = "Cisco"
y = " Switch"
x + y

'Cisco Switch'

In [16]:
x * 3

'CiscoCiscoCisco'

In [17]:
"o" in x

True

In [18]:
"b" in x

False

In [19]:
example = "Cisco model: 2600XM, 2 WAN slots, IOS 12.4

In [21]:
"Cisco model: %s, %d WAN slots, IOS %.2f" % ("2600XM", 2, 12.4)

'Cisco model: 2600XM, 2 WAN slots, IOS 12.40'

In [22]:
"Cisco model: {}, {} WAN slots, IOS {}".format("2600KM", 2, 12.4)

'Cisco model: 2600KM, 2 WAN slots, IOS 12.4'

## F-string Formatting

In [24]:
model = '2600XM'
slots = 4
ios = 12.3

In [25]:
f"Cisco model: {model}, {slots} WAN slots, IOS {ios}"

'Cisco model: 2600XM, 4 WAN slots, IOS 12.3'

## Slices

In [26]:
mystring = "bang, bang, he shot me down.  bang, bang, my baby shot me down"
mystring[5:14]

' bang, he'

In [27]:
mystring[:10]

'bang, bang'

In [29]:
mystring[:]

'bang, bang, he shot me down.  bang, bang, my baby shot me down'

In [30]:
mystring[-1]

'n'

In [31]:
#skips every 2 element of the string
mystring[::2]

'bn,bn,h htm on bn,bn,m ayso edw'

In [35]:
string = '0123456789'

In [36]:
# string[start: stop: step]

In [37]:
#02468 is what we want
string[::2]

'02468'

In [38]:
my_string = "a0:12:90:00:80:43"

In [39]:
#not inclusive of 7
my_string[4:7]

'2:9'

In [40]:
my_string[:-4]

'a0:12:90:00:8'