# Section 4

## Numbers and Booleans

In [1]:
num1 = 10
num2 = 2.5
type(num1)

int

In [2]:
num1 + num2

12.5

In [3]:
5 / 2

2.5

In [4]:
5 // 2

2

In [5]:
5 % 2

1

In [6]:
4 < 5

True

In [7]:
4 > 5

False

In [8]:
100 - 5 ** 2 / 5 * 2

90.0

In [9]:
30 % 8

6

In [10]:
50/15

3.3333333333333335

In [11]:
50//15

3

In [12]:
pow(5,3)

125

In [13]:
bool(0.0)

False

In [15]:
bool(None)

False

In [18]:
print(bool("Python 3"))

True

In [19]:
int(6 % 5 + 9 - 2 - 4 ** 2 / 2)

0

In [20]:
bool(0)

False

# Section 5

## Lists

In [21]:
list1 = []

In [22]:
type(list1)

list

In [23]:
list1 = ["Cisco", "Juniper", "Avaya", 10, 10.5, -11]

In [24]:
len(list1)

6

In [25]:
list1[0]

'Cisco'

In [26]:
list1[2]

'Avaya'

In [27]:
#lists are mutable
list1[2] = "HP"

In [28]:
list1

['Cisco', 'Juniper', 'HP', 10, 10.5, -11]

In [29]:
list2 = [-11, 2, 12]

In [30]:
min(list2)

-11

In [31]:
#cannot use methods with mixed datatypes
max(list1)

TypeError: '>' not supported between instances of 'int' and 'str'

In [32]:
#add element to list
list1.append(100)

In [34]:
list1

['Cisco', 'Juniper', 'HP', 10, 10.5, -11, 100]

In [35]:
del list1[4]

In [36]:
list1

['Cisco', 'Juniper', 'HP', 10, -11, 100]

In [38]:
list1.pop(0)

'Cisco'

In [39]:
list1

['Juniper', 'HP', 10, -11, 100]

In [40]:
list1.remove("Juniper")

In [41]:
list1

['HP', 10, -11, 100]

In [42]:
#2 is index and nortel is the new element
list1.insert(2, "Nortel")

In [43]:
list1

['HP', 10, 'Nortel', -11, 100]

In [44]:
list1

['HP', 10, 'Nortel', -11, 100]

In [45]:
list2

[-11, 2, 12]

In [46]:
list1.extend(list2)

In [47]:
list1

['HP', 10, 'Nortel', -11, 100, -11, 2, 12]

In [48]:
list2.sort()

In [49]:
list2

[-11, 2, 12]

In [50]:
my_list = [10, 'x', 20.02, 'y', 30j, 'z', 10j, False]

In [51]:
my_list[-4:-2]

[30j, 'z']

# Section 6

## Sets
- unordered collection of unique elements
- lists that have no duplicate elements

In [52]:
list4 = [1, 2, 3, 4, 5, 2, 6, 4, 3]

In [53]:
list4

[1, 2, 3, 4, 5, 2, 6, 4, 3]

In [54]:
set(list4)

{1, 2, 3, 4, 5, 6}

In [55]:
type(list4)

list

In [57]:
set1 = set([11, 12, 1, 14, 15, 12])

In [58]:
type(set1)

set

In [59]:
set2 = {11, 12, 13, 14, 15, 15, 15, 11}

In [60]:
set2

{11, 12, 13, 14, 15}

In [61]:
type(set2)

set

In [62]:
11 in set2

True

In [63]:
10 in set2

False

In [64]:
set2

{11, 12, 13, 14, 15}

In [65]:
#sets are mutable
set2.add(16)

In [66]:
set2

{11, 12, 13, 14, 15, 16}

In [67]:
set2.remove(11)

In [68]:
set2

{12, 13, 14, 15, 16}

In [69]:
set1 = {1,2,3,4}
set2 = {3,5,8}

In [70]:
#similarity
set1.intersection(set2)

{3}

In [71]:
#diff
set1.difference(set2)

{1, 2, 4}

In [72]:
#combine sets
set1.union(set2)

{1, 2, 3, 4, 5, 8}

In [74]:
set1.clear()

In [75]:
set1

set()

In [77]:
set2

{3, 5, 8}

In [81]:
set2.pop()

3

# Section 7

## Tuples
- immutable lists
- contents cannot be changed

In [83]:
my_tuple = ()
type(my_tuple)

tuple

In [85]:
my_tuple = (1,2,3,4,5)

In [86]:
my_tuple[1]

2

In [87]:
tuple1 = ("cisco", "2600", "12.4")

In [88]:
#tuple packing
(vendor, model, ios) = tuple1

In [89]:
#tuple unpacking
vendor

'cisco'

In [90]:
model

'2600'

In [91]:
(a,b,c) = (10,20,30)

In [92]:
a

10

### Tuples vs Lists
- tuples are immutable
- lists are mutable
- tuples have fixed length
- lists have variable lengths

In [93]:
my_tuple = (1, 2, 3, 'a', 'b', 'c', [4, 5, 6])

In [94]:
my_tuple[::2]

(1, 3, 'b', [4, 5, 6])

In [95]:
my_tuple[-1] * 5

[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [96]:
(x, y, z) = (15, 25, 35)

In [97]:
y % x

10

In [98]:
my_tup = ("a", "h", 32, 2.6, None, False)

In [100]:
#reverse it
my_tup[::-1]

(False, None, 2.6, 32, 'h', 'a')

# Section 8

## Ranges

In [102]:
print(range(10))

range(0, 10)

In [103]:
#add start element 5
range(5,10)

range(5, 10)

In [104]:
# add step
range(0, 10,2)

range(0, 10, 2)

In [105]:
r = range(10)

In [106]:
type(r)

range

In [107]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
r[-0]

0

In [109]:
10 in r

False

In [110]:
5 in r

True

In [111]:
list(range(12, 100, 2))

[12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [113]:
r = range(10, 30, 3)

In [114]:
a = list(r)

In [115]:
a[3]

19

In [116]:
list(range(3, 21))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Section 9

## Dictionaries
- unordered set of key value pairs

In [ ]:
#key is value on left side of pair
#each key must be unique
#vvalues dont have to be unique
Vendor: Cisco, Model: 2600, IOS: 12.4, Ports: 4

In [117]:
dict1 = {}

In [118]:
dict1

{}

In [119]:
dict1 = {"Vendor": "Cisco", "Model": "2600", "IOS": "12.4", "Ports": "4"}

In [120]:
dict1

{'Vendor': 'Cisco', 'Model': '2600', 'IOS': '12.4', 'Ports': '4'}

In [121]:
#value associated with the key returned
dict1["IOS"]

'12.4'

In [122]:
#dictionaries are mutable
dict1["RAM"] = "128"

In [123]:
dict1

{'Vendor': 'Cisco', 'Model': '2600', 'IOS': '12.4', 'Ports': '4', 'RAM': '128'}

In [124]:
#updating
dict1["IOS"] = "12.3"

In [125]:
dict1

{'Vendor': 'Cisco', 'Model': '2600', 'IOS': '12.3', 'Ports': '4', 'RAM': '128'}

In [126]:
#delete key value pair
del dict1["Ports"]

In [127]:
dict1

{'Vendor': 'Cisco', 'Model': '2600', 'IOS': '12.3', 'RAM': '128'}

In [128]:
"IOS" in dict1

True

In [129]:
"IOS4" in dict1

False

In [130]:
#keys method to obtain a list having the keys in the dictionary as elements
dict1.keys()

dict_keys(['Vendor', 'Model', 'IOS', 'RAM'])

In [131]:
#values inside dictionary
dict1.values()

dict_values(['Cisco', '2600', '12.3', '128'])

In [133]:
#key value pairs
dict1.items()

dict_items([('Vendor', 'Cisco'), ('Model', '2600'), ('IOS', '12.3'), ('RAM', '128')])

In [134]:
#conversions between data types
num = 2
f = 2.5

In [135]:
type(num)

int

In [136]:
type(f)

float

In [137]:
num2 = str(num)
type(num2)

str

In [138]:
f2 = str(f)
type(f2)

str